* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 25px;
    font-size: 50px;
}

img {
    margin: 25px;

    &:hover {
        opacity: 0.5;
        transition: filter 0.5s ease;
    }
}

button {
    background-color: #0A0A23;
    color: #FFFFFF;
    font-size: 24px;

    &:hover {
        opacity: 0.5;
        transition: filter 0.5s ease;
    }
}